// COLORS
$white             = #FFFFFF
$black             = #000000


$main-blue         = #9FB9EB
$main-blue--dark   = #1B2536
$main-blue--light  = #C7DBFF
$main-blue--green  = #9BEBF6
$main-pink         = #EBBFB7
$main-green        = #CDEB88

$comp-gray         = #49556B
$comp-gray--middle = #5C739E
$comp-gray--light  = #7487AB
$comp-blue--light  = #B9E1EF
$comp-blue--dark   = #85B5D4
$comp-green        = #8C9E64

// FONTS
$font-family       = 'Montserrat', sans-serif
$thin              = 100
$xlight            = 200
$light             = 300
$regular           = 400
$medium            = 500
$sbold             = 600
$bold              = 700
$xbold             = 800
$black             = 900